body {
  font-family: "Cabin";
  background-color: black;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.btn {
  transition: transform 0.5s;
}
.btn:hover {
  animation: pulsate 1s infinite;
}

.navbar {
  background-color: #2E3192;
  transition: top 0.5s; /* Add smooth transition */
  padding: 10px;
  display: flex;
  align-items: center;
}
.navbar .navbar-brand {
  max-width: 30%;
  margin-right: 0px;
}
.navbar .navbar-brand img {
  width: 100%;
}
.navbar .nav-item {
  text-align: center;
}
.navbar li {
  margin: 0 15px;
}
.navbar li a {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  transition: transform 0.3s ease;
}
.navbar li a:hover {
  transform: scale(1.1);
}
.navbar .collapse.navbar-collapse {
  justify-content: center;
}
.navbar .call__button {
  margin-left: auto;
  background-color: rgb(188, 188, 189);
}

.navbar.hidden {
  top: -100px; /* Move navbar off-screen */
}

.call__button {
  background-color: #2E3192;
  border-radius: 15px;
  color: white;
  font-weight: 100;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
}
.call__button i {
  margin-right: 10px;
}
.call__button:hover {
  background-color: #1C75BC;
}

@media (min-width: 992px) {
  .navbar .collapse.navbar-collapse {
    flex-grow: 1;
    order: 2; /* Move the menu below */
  }
  .navbar .call__button__container {
    order: 3; /* Move the call button to the right */
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
  z-index: 1;
}

.banner {
  height: 100vh;
  min-height: 500px;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.banner .parallax__container {
  height: 150%; /* Adjusted height */
  position: absolute;
  z-index: 0;
  right: 0;
  left: 0;
  top: 0;
  background-image: url("../assets/doctor.png");
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.banner .ripple-background {
  position: absolute;
  z-index: 1;
}
.banner .circle {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.488);
  box-shadow: 0px 0px 10px 0px #000000;
}
.banner .small {
  width: 400px;
  height: 400px;
  left: -150px;
  bottom: -950px;
}
.banner .medium {
  width: 600px;
  height: 600px;
  left: -250px;
  bottom: -1050px;
}
.banner .large {
  width: 800px;
  height: 800px;
  left: -350px;
  bottom: -1150px;
}
.banner .xlarge {
  width: 1000px;
  height: 1000px;
  left: -450px;
  bottom: -1250px;
}
.banner .xxlarge {
  width: 1200px;
  height: 1200px;
  left: -550px;
  bottom: -1350px;
}
.banner .shade1 {
  opacity: 0.1;
}
.banner .shade2 {
  opacity: 0.5;
}
.banner .shade3 {
  opacity: 0.7;
}
.banner .shade4 {
  opacity: 0.8;
}
.banner .shade5 {
  opacity: 0.9;
}
.banner .texto__banner {
  color: #2E3192;
  position: relative;
  z-index: 2;
  max-width: 45%;
  margin-bottom: 30px;
}
.banner .texto__banner .animate__fadeInLeft {
  animation-delay: 0.1s;
}
.banner .texto__banner .animate__fadeInRight {
  animation-delay: 0.4s;
}
.banner .texto__banner .animate__fadeInUp {
  animation-delay: 0.7s;
}
.banner .texto__banner h1 {
  font-family: "Archivo Black";
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 3.5rem;
}
.banner .texto__banner .parrafo__banner {
  font-size: 1.6rem;
  max-width: 80%;
  color: white;
}
.banner .texto__banner .contactus__button {
  background-color: #2E3192;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
}
.banner .texto__banner .contactus__button i {
  margin-right: 10px;
}
.banner .texto__banner .contactus__button:hover {
  background-color: #1C75BC;
}

@media (max-width: 992px) {
  .banner .texto__banner {
    max-width: 95%;
  }
  .banner .texto__banner h1 {
    font-size: 2rem;
  }
  .banner .texto__banner .parrafo__banner {
    font-size: 1.5rem;
    margin-bottom: 50px;
    max-width: 100%;
  }
  .banner .right__circle {
    display: none;
  }
  .banner .small {
    width: 400px;
    height: 400px;
    left: -100px;
    bottom: -500px;
  }
  .banner .medium {
    width: 600px;
    height: 600px;
    left: -200px;
    bottom: -600px;
  }
  .banner .large {
    width: 800px;
    height: 800px;
    left: -300px;
    bottom: -700px;
  }
  .banner .xlarge {
    width: 1000px;
    height: 1000px;
    left: -400px;
    bottom: -800px;
  }
  .banner .xxlarge {
    width: 1200px;
    height: 1200px;
    left: -500px;
    bottom: -900px;
  }
}
.location__container {
  display: flex;
  flex-direction: row;
}

.location__info {
  width: 35%;
  padding: 50px;
  background-color: rgb(188, 188, 189);
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.location__info h2 {
  font-size: 1.5em;
  font-family: "Archivo Black";
  margin-bottom: 30px;
  color: white;
}
.location__info p {
  margin-bottom: 25px;
  font-size: 1.1rem;
}
.location__info p a {
  color: white;
  font-weight: 600;
}

.whatsapp__button {
  background-color: #2E3192;
  border-radius: 30px;
  color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
  font-family: "Archivo Black";
  font-weight: 800;
  font-size: 1.2rem;
}
.whatsapp__button:hover {
  background-color: #1C75BC;
}
.whatsapp__button .whatsapp__logo {
  margin-right: 8px;
  width: 30px;
}

.location__map {
  width: 65%;
}

@media (max-width: 992px) {
  .location__container {
    flex-direction: column;
  }
  .location__container .location__map {
    width: 100%;
    height: 400px;
    order: 1;
  }
  .location__container .location__info {
    width: 100%;
    text-align: center;
    order: 2;
    padding: 20px;
  }
}
.services__container {
  overflow: hidden;
  position: relative;
  padding: 50px 0;
  text-align: center;
}
.services__container .parallax__services {
  height: 150%; /* Adjusted height */
  position: absolute;
  z-index: 0;
  right: 0;
  left: 0;
  top: 0;
  background-image: url("../assets/servicesbackground.jpg");
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.services__title {
  font-size: 2.3rem;
  font-family: "Archivo Black";
  color: white;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

.card__container {
  max-width: 1000px; /* Adjust as needed */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 30px; /* Gap between cards */
  justify-items: center; /* Center items horizontally */
  position: relative;
  z-index: 1;
}

.card {
  width: 100%; /* Occupy full width of the column */
  padding: 28px;
  border: 0;
  background-color: rgb(224, 224, 224);
  border-radius: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Combine transitions */
  box-shadow: -1px 1px 12px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 12px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 12px 5px rgb(0, 0, 0);
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(0.7);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.card__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover; /* Maintain aspect ratio and cover container */
  object-position: center; /* Center the image within its container */
  margin-bottom: 20px; /* Add margin to separate image from text */
}

.card__title {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.card__text {
  font-size: 16px;
}

@media (max-width: 992px) {
  .services__container .services__title {
    font-size: 1.7rem;
  }
  .services__container .card__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .services__container .card__container .card {
    width: 80%;
  }
}
.contact__container {
  background-color: #D9D9D9; /* Light gray background color */
  background: linear-gradient(to bottom, #D9D9D9 0%, #D9D9D9 80%, #4e87b7);
  padding: 50px 0;
  text-align: center;
  border: none;
}

.contact__tittle__container {
  color: #2E3192;
  font-family: "Archivo Black";
  font-size: 2.3rem;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.contact__divider {
  width: 30%;
  height: 4px;
  background-color: #2E3192; /* Black color for the divider */
  display: inline-block;
}

.contact__title {
  display: inline-block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0 20px; /* Adjust margin to match the divider width */
}

.contact__content {
  margin-top: 20px;
}
.contact__content h3 {
  font-size: 1.6rem;
}
.contact__content p {
  font-size: 1.2rem;
}

.whatsapp__round {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
}
.whatsapp__round:hover {
  transform: scale(1.1);
}
.whatsapp__round img {
  width: 80px; /* Adjust size as needed */
  height: auto;
  border-radius: 30%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.footer__container {
  background-color: #4e87b7; /* Blue background color */
  background: linear-gradient(to bottom, #4e87b7 0%, #2E3192);
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer__logo {
  width: 250px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

.footer__disclaimer {
  font-size: 1.1rem;
}

@media (max-width: 992px) {
  .contact__container {
    padding: 30px;
  }
  .contact__container .contact__divider {
    display: none;
  }
  .contact__container .contact__title {
    font-size: 1.8rem;
  }
  .contact__container h3 {
    font-size: 1.2rem;
  }
  .contact__container p {
    font-size: 1rem;
  }
  .whatsapp__round {
    bottom: 20px;
    right: 40px;
  }
  .whatsapp__round img {
    width: 70px; /* Adjust size as needed */
  }
  .footer__container {
    padding: 15px;
  }
  .footer__container .footer__logo {
    width: 150px;
  }
  .footer__container p {
    font-size: 0.8rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
}

/*# sourceMappingURL=main.css.map */
